.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 150;
  background-color: rgba($color: #000000, $alpha: 0.5);
}

.modal {
  position: fixed;
  top: 30%;
  transform: translateY(-50%);
  left: 5%;
  width: 90%;
  overflow: hidden;
  border-radius: 10px;
  z-index: 160;
  animation: slide-down 300ms ease-out forwards;

  @media (min-width: 560px) {
    width: 600px;
    left: calc(50% - 300px);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
