* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  background-color: rgb(25, 21, 54);
  color: rgb(199, 199, 199);
}

header {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  text-align: center;
}

main {
  padding: 10px 0;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

input[type="date"] {
  display: block;
  margin: 10px auto;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  color: inherit;
  padding: 5px;
  border: none;
  min-width: 250px;
  text-align: center;
}

::-webkit-calendar-picker-indicator {
  background-color: rgb(32, 32, 111);
  border-radius: 5px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 350px));
  justify-content: center;
  grid-gap: 20px;
  align-items: stretch;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
